:root {
  --black: #343434;
  --bg: #0c092a;
  --shadow1: 0px 14px 14px -1px rgba(255, 255, 128, 0.863);
  --shadow2: 0px 13px 46px rgba(255, 255, 128, 0.863);
  --pink: #fe956f;
}
.App {
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: skyblue;
  border-radius: 1ex;
}

a {
  text-decoration: none;
  color: inherit;
}
